{% extends "polls/header.html" %}
{% block body %}

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script>
function load_boardgame_box(bg_ind) {
    var url = $("#boardgame_box_" + bg_ind).attr("boardgame_box_url");
    $.ajax({
        url: url,
        data: {
            "bg_ind": bg_ind,
            "with_submit": 'True',
        },
        success: function(data) {
        $("#boardgame_box_" + bg_ind).html(data);
        }
    })
}
</script>

<div class='box round shadow'>
    <h2>New expansion</h2>
    <hr>
    <form  method="post" id="GameplayForm"  novalidate>
    {% csrf_token %}
      <label for="bg_name">Boardgame name:</label>
      <select id="bg_name" name="bg_name">
          {% for b in boardgames %}
            {% if b.bgg_id == selected %}
                <option value="{{ b.bgg_id }}" selected>{{ b.name }}</option>
            {% else %}
                <option value="{{ b.bgg_id }}">{{ b.name }}</option>
            {% endif %}
          {% endfor %}
      </select><br><br>
      <input type="submit" value="Search">
      <br>
      <a href="{% url 'add_exp_old' %}">If nothing found.</a>
    </form>
</div>
{% if bgg_infos %}
    {% for info in bgg_infos %}
        <div id="boardgame_box_{{ forloop.counter0 }}" boardgame_box_url="{% url 'boardgame_box' %}"></div>
        <script type="text/javascript">
           load_boardgame_box({{ forloop.counter0 }});
        </script>
    {% endfor %}
{% endif %}

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script>
    function savegame(bg_ind) {
        var url = $("#bg_box").attr("exp_url");
        var own = $("#I_also_own_this_" + bg_ind).prop('checked');
        var basegame = $("#bg_name").val();
        console.log(url);
        $.ajax({
            url: url,
            data: {
                "bg_ind": bg_ind,
                "own": own,
                "basegame": basegame,
            },
        success: function(data) {
            if (data["created"]) {
                if (data["added"]) {
                    alert("Boardgame created and added to your collection.");
                } else {
                    alert("Boardgame created.");
                }
            } else if (data["own"]){
                if (data["added"]) {
                    alert("Boardgame exists, but has been added to your collection.");
                } else {
                    alert("You already own this expansion.");
                }
            } else {
                alert("Expansion already exists.");
            }
        }
    })
    }
</script>
{% endblock %}
