{% extends "polls/header.html" %}
{% block body %}
<div class='box round shadow'>
  <h2>New gameplay</h2>
    <hr>
<form method="post" id="GameplayForm" load_player_count_url="{% url 'load_player_count' %}" expansions_select_options_url="{% url 'expansions_select_options' %}" novalidate>

    {% csrf_token %}
    <table>
        {{ gp_form.as_table }}
    </table>
    <div id="Expansion_formset_id">
        {{ e_formset.management_form }}
        {% for e_form in e_formset %}
            <table >
                {{ e_form.as_table }}
            </table>
        {% endfor %}
    </div>



    <button type="submit" name="run_script">Save gameplay</button>
</form>
</div>
<div class='box round shadow' id="randomizer" randomizer_url="{% url 'randomizer' %}">
  <h2>Give me game</h2>
    <hr>
      <input type='button' name="give_me_game" id="random_game" value="Na křídlech">
</div>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script>
    $("#id_name").change(function () {
      var url = $("#GameplayForm").attr("load_player_count_url");  // get the url of the `load_cities` view
      var bg_id = $(this).val();  // get the selected country ID from the HTML input

      $.ajax({                       // initialize an AJAX request
        url: url,                    // set the url of the request (= localhost:8000/hr/ajax/load_player_count/)
        data: {
          'name': bg_id       // add the country id to the GET parameters
        },
        success: function (data) {   // `data` is the return of the `load_cities` view function
          $("#id_NumberOfPlayers").html(data);  // replace the contents of the city input with the data that came from the server
        }
      });

    });
  </script>
  <script>
    $("#id_name").change(function () {
      var url = $("#GameplayForm").attr("expansions_select_options_url");  // get the url of the `load_cities` view
      console.log(url);
      var bg_id = $(this).val();  // get the selected country ID from the HTML input
      console.log('ha');
      $.ajax({                       // initialize an AJAX request
        url: url,                    // set the url of the request (= localhost:8000/hr/ajax/load_player_count/)

        data: {
          'name': bg_id       // add the country id to the GET parameters
        },
        success: function (data) {   // `data` is the return of the `load_cities` view function
          console.log(data);
          $("#Expansion_formset_id").html(data);  // replace the contents of the city input with the data that came from the server

        }
      });

    });
  </script>
  <script>
    $("#random_game").click(function () {
      var url = $("#randomizer").attr("randomizer_url");  // get the url of the `load_cities` view
      console.log('ha');
      $.ajax({                       // initialize an AJAX request
        url: url,                    // set the url of the request (= localhost:8000/hr/ajax/load_player_count/)

        data: {
        },
        success: function (data) {   // `data` is the return of the `load_cities` view function
      $("#random_game_label").html(data.games[Math.floor(Math.random() * data.games.length)]);
       $("#random_game").val(data.games[Math.floor(Math.random() * data.games.length)]);

        }
      });

    });
  </script>
{% endblock %}