{% extends "polls/header.html" %}
{% block body %}
<div class="box round shadow">
    <h2>New boardgame</h2>
    <hr>
    <form  method="post" id="GameplayForm"  novalidate>
    {% csrf_token %}
      <label for="bg_name">Boardgame name:</label>
      <input type="text" id="bg_name" name="bg_name"><br><br>
      <input type="submit" value="Search">
      <br>
      <a href="{% url 'add_bg_old' %}">If nothing found.</a>
    </form>
</div>
{% if bgg_infos %}
    {% for info in bgg_infos %}
    <div class="box round shadow bgg_box" url="{% url 'bg_submit' %}" id="bg_box">
        <div class="bgg_box_image">
            <label><img id="bgg_img" src="{{ info.img }}" style="max-width: 100%;"></label>
        </div>
        <div class="bgg_box_info">
                <h2>{{info.name}}</h2>
                <p class="bgg_box_row">Rank:
                <strong>{{info.rank}}</strong>
                </p>
                <p class="bgg_box_row">Playtime:
                {% if info.minplaytime < info.maxplaytime %}
                    <strong>{{info.minplaytime}}-{{info.maxplaytime}} min</strong>
                {% else %}
                    <strong>{{info.playtime}} min</strong>
                {% endif %}
                </p>
                <p class="bgg_box_row">Age:
                <strong>{{info.minage}}+</strong>
                </p>
                <p class="bgg_box_row">Weight:
                <strong>{{info.weight}}</strong>
                </p>
                <p class="bgg_box_row">Players:
                    {% if info.minp < info.maxp %}
                        <strong>{{info.minp}}-{{info.maxp}}</strong>
                    {% else %}
                        <strong>{{info.minp}}</strong>
                    {% endif %}
                </p>
                <p class="bgg_box_row">Year:
                <strong>{{info.year}}</strong>
                </p><br>
        <p style="display: inline-block;">
        <input type="button" id="add_bg_button" value="This one!" onclick="savegame({{ forloop.counter0 }})">
        <input type="checkbox" id="I_also_own_this_{{ forloop.counter0 }}">
        <label for="I_also_own_this_{{ forloop.counter0 }}">I also own this!</label>
        </p>
        </div>
    </div>
    {% endfor %}
{% endif %}

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script>
    function savegame(bg_ind) {
        var url = $("#bg_box").attr("url");
        var own = $("#I_also_own_this_" + bg_ind).prop('checked');
        console.log(url);
        $.ajax({
            url: url,
            data: {
                "bg_ind": bg_ind,
                "own": own
            },
        success: function(data) {
            if (data["created"]) {
                alert("Boardgame created.");
            } else {
                alert("Boardgame already exists.");
            }
        }
    })
    }
</script>
{% endblock %}
