{% extends "polls/header.html" %}
{% block body %}
<div class='container' id="container">
<div class='box round shadow'>
  <h2>New gameplay</h2>
    <hr>
<form method="post" id="GameplayForm" load_player_count_url="{% url 'load_player_count' %}" expansions_select_options_url="{% url 'expansions_select_options' %}" novalidate>

    {% csrf_token %}
        {% for field in gp_form %}
            {% if field.label == 'Time' %}
                {{ field.errors }}
                {{ field.label_tag }}
                <div class="timebox">
                {% for f in field %}
                    {{ f.errors }}
                    <input type="checkbox" class="timeboxch" id="{{ forloop.counter0 }}" name="{{ forloop.counter0 }}" value="{{ f.data.value }}">
                    <label for="{{ forloop.counter0 }}" class="round">{{ f.choice_label  }}</label>
                {% endfor %}
                </div>
            {% else %}
            <p>
                {{ field.errors }}
                {{ field.label_tag }} {{ field }}
            </p>
            {% endif %}
        {% endfor %}
    <div id="Expansion_formset_id">
        {{ e_formset.management_form }}
        {% for e_form in e_formset %}
            <table >
                {{ e_form.as_table }}
            </table>
        {% endfor %}
    </div>



    <button type="submit" name="run_script" onclick="this.disabled=true,this.form.submit()">Save gameplay</button>
</form>
</div>
  <div class='box round shadow' id="basic_stats" basic_stats_url="{% url 'basic_stats' %}">
    <h2>Stats</h2>
    <hr>
      <table style="width:100%" id="points">
        {% for a, b in data.result %}
          <tr>
            <td>{{ a }}</td>
            <th><label>{{ b }}</label></th>
          </tr>
        {% endfor %}
    </table>
    <hr>
    <table style="width:100%">
      <tr>
        <td>Highest winning score:</td>
        <th><label id="maxws"></label></th>
      </tr>
      <tr>
        <td>Lowest winning score:</td>
        <th><label id="minws"></label></th>
      </tr>
      <tr>
        <td>Average winning score:</td>
        <th><label id="avgws"></label></th>
      </tr>
      <tr>
        <td>Average score:</td>
        <th><label id="avgtot"></label></th>
      </tr>
      <tr>
        <td>Highest non-winning score:</td>
        <th><label id="maxnws"></label></th>
      </tr>
    </table>
</div>
</div>
<div class='box round shadow' id="randomizer" randomizer_url="{% url 'randomizer' %}">
  <h2>Give me game</h2>
    <hr>
      <input type='button' name="give_me_game" id="random_game" value="Na křídlech">
</div>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>


  <script>
    $("#random_game").click(function () {
      var url = $("#randomizer").attr("randomizer_url");
      $.ajax({
        url: url,

        data: {
        },
        success: function (data) {
      $("#random_game_label").html(data.games[Math.floor(Math.random() * data.games.length)]);
       $("#random_game").val(data.games[Math.floor(Math.random() * data.games.length)]);
        }
      });

    });
  </script>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
<!--  <link rel="stylesheet" href="/resources/demos/style.css">-->
  <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
  <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
  <script>
  function lpc(value) {
      var url = $("#GameplayForm").attr("load_player_count_url");
      var bg_name = value;

      $.ajax({
        url: url,
        data: {
          'name': bg_name
        },
        success: function (data) {
          $("#id_NumberOfPlayers").html(data);
        }
      });
  };

  function bs(value) {
      var url = $("#basic_stats").attr("basic_stats_url");
        var bg_name = value;
      $.ajax({
        url: url,
        data: {
          'name': bg_name
        },
        success: function (data) {
          $("#points").html("");
          for (j = 0; j < data.result.length; j++){
              $("#points").append('<tr><th>' + data.result[j][0] + '</th>' + '<th>' + data.result[j][1] + '</th></tr>');
          }
          $("#maxws").html(data.maxws);
          $("#minws").html(data.minws);
          $("#avgws").html(data.avgws);
          $("#avgtot").html(data.avgtot);
          $("#maxnws").html(data.maxnws);
        }
      });
  };

    function se(value) {
        var url = $("#GameplayForm").attr("expansions_select_options_url");
        var bg_name = value;
        $.ajax({
        url: url,

        data: {
          'name': bg_name
        },
        success: function (data) {
          $("#Expansion_formset_id").html(data);

        }
        });

    }

    $( function() {
    $( "#id_Boardgame" ).autocomplete({
      source: {{ boardgames_names|safe }},
      minLength:2,
      select: function (e, ui) {
        lpc(ui.item.value); // load player count
        bs(ui.item.value); // basic stats
        se(ui.item.value); // show expansions
    },
    });
  } );
  </script>



{% endblock %}
