{% extends "polls/header.html" %}
{% block body %}

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script>
function load_boardgame_box(bg_ind) {
    var url = $("#boardgame_box_" + bg_ind).attr("boardgame_box_url");
    $.ajax({
        url: url,
        data: {
            "bg_ind": bg_ind,
            "with_submit": 'True',
        },
        success: function(data) {
        $("#boardgame_box_" + bg_ind).html(data);
        }
    })
}
</script>

<div class="box round shadow">
    <h2>New boardgame</h2>
    <hr>
    <form  method="post" id="GameplayForm"  novalidate>
    {% csrf_token %}
      <label for="bg_name">Boardgame name:</label>
      <input type="text" id="bg_name" name="bg_name"><br><br>
      <input type="submit" value="Search">
      <br>
      <a href="{% url 'add_bg_old' %}">If nothing found.</a>
    </form>
</div>
{% if bgg_infos %}
    {% for info in bgg_infos %}
        <div id="boardgame_box_{{ forloop.counter0 }}" boardgame_box_url="{% url 'boardgame_box' %}"></div>
        <script type="text/javascript">
           load_boardgame_box({{ forloop.counter0 }});
        </script>
    {% endfor %}
{% endif %}

<script>
    function savegame(bg_ind) {
        var url = $("#bg_box").attr("bg_url");
        var own = $("#I_also_own_this_" + bg_ind).prop('checked');
        console.log(url);
        $.ajax({
            url: url,
            data: {
                "bg_ind": bg_ind,
                "own": own
            },
        success: function(data) {
        console.log(data);
            if (data["created"]) {
                if (data["added"]) {
                    alert("Boardgame created and added to your collection.");
                } else {
                    alert("Boardgame created.");
                }
            } else if (data["own"]){
                if (data["added"]) {
                    alert("Boardgame exists, but has been added to your collection.");
                } else {
                    alert("You already own this boardgame");
                }
            } else {
                alert("Boardgame already exists.");
            }
        }
    })
    }
</script>
{% endblock %}
