{% extends "polls/header.html" %}
{% block body %}
<div class='container'>
    <div class='box round shadow'>
      <h2>Highscores</h2>
        <hr>
        <form method="post" id="GameplayForm" load_player_count_url="{% url 'load_player_count' %}"  novalidate>

            {% csrf_token %}
            <table>
                <tr><th>
                <label for="id_name">Name:</label></th><td>
                    <select name="name" required id="id_name">
                        <!--<option value="">-&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;</option>-->
                        {% for b in boardgames %}
                           {%if b.name__name == lastgame.name %}
                              <option value="{{ b.name__id }}" selected>{{ b.name__name }}</option>
                           {% else %}
                              <option value="{{ b.name__id }}">{{ b.name__name }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </td></tr>
            </table>
            {% if request.user.username %}
                <input type="checkbox" name="checkbox" id="checkbox" hidden>
            {% else %}
                <input type="checkbox" name="checkbox" id="checkbox" hidden>
            {% endif %}
        </form>
        <div>
         <h4>let me know if the picture is wrong.</h4>
            <div style="width: 50%; float: left;">
                <label for="checkbox"><img id="bgg_img" src="${ $bg_img }"></label>
            </div>
            <div style="width: 50%; float: right;">
                <table>
                    <tr>
                        <td>Rank: </td>
                        <th><label id="bgg_rank"></label></th>
                    </tr>
                    <tr>
                        <td>Weight: </td>
                        <th><label id="bgg_weight"></label></th>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class='box round shadow'>
      <h2>Stats</h2>
        <hr>
        <table style="width:100%">
          <tr>
            <td>Highest winning score:</td>
            <th><label id="maxws"></label></th>
          </tr>
          <tr>
            <td>Lowest winning score:</td>
            <th><label id="minws"></label></th>
          </tr>
          <tr>
            <td>Average winning score:</td>
            <th><label id="avgws"></label></th>
          </tr>
          <tr>
            <td>Average score:</td>
            <th><label id="avgtot"></label></th>
          </tr>
          <tr>
            <td>Highest non-winning score:</td>
            <th><label id="maxnws"></label></th>
          </tr>
        </table>
    </div>
    <div class='box round shadow'>
      <h2>Stats</h2>
        <hr>
        <table style="width:100%">
          <tr>
            <td>Longest gameplay:</td>
            <th><label id="longest_gp"></label></th>
          </tr>
          <tr>
            <td>Shortest gameplay:</td>
            <th><label id="sg"></label></th>
          </tr>
          <tr>
            <td>Average gameplay:</td>
            <th><label id="avgg"></label></th>
          </tr>
          <tr>
            <td>Average missing points:</td>
            <th><label id="avgmp"></label></th>
          </tr>
        </table>
    </div>
    <div class='box round shadow'>
      <h2>Stats</h2>
        <hr>
        <table style="width:100%">
          <tr>
            <td>Usual winner:</td>
            <th><label id="uw"></label></th>
          </tr>
          <tr>
            <td>First gameplay:</td>
            <th><label id="first_gp"></label></th>
          </tr>
          <tr>
            <td>Last gameplay:</td>
            <th><label id="last_gp"></label></th>
          </tr>
          <tr>
            <td>Total count:</td>
            <th><label id="nogp"></label></th>
          </tr>
        </table>
    </div>
</div>


<div class='container'>
  <div id="bar_chart_div" class='box round shadow big'style="width: 100% overflow-x: auto; overflow-y: hidden">
      <div class="chartWrapper">
      <div class="chartAreaWrapper" id="bar_chart_wrapper">
        <div class="chartAreaWrapper2" id="bar_chart_wrapper_2">
            <canvas id="bar_chart" data-url="{% url 'chart_options' %}"></canvas>
        </div>
      </div>
          <canvas id="myChartAxis" height="300" width="0"></canvas>
      </div>

  </div>

  <div id="avg_points" class='box round shadow'style='overflow: auto'>
    <h2>Average points</h2>
      <hr>
      <table style="width:100%" id="avgp">
          {% for a, b in data.avgp %}
            <tr>
              <td>{{ a }}</td>
              <th><label>{{ b }}</label></th>
            </tr>
          {% endfor %}
      </table>
  </div>
</div>

<div class='box round shadow big'style="width: 100% overflow-x: auto; overflow-y: hidden">
      <div class="chartWrapper">
      <div class="chartAreaWrapper" id="order_chart_wrapper">
            <input type="checkbox" name="order_points_checkbox" id="order_points_checkbox">
        <div class="chartAreaWrapper2" id="order_chart_wrapper_2">
            <canvas id="order_chart" style="height: 90%"></canvas>
        </div>
      </div>
          <canvas id="orderChartAxis" height="300" width="0"></canvas>
      </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>

<script id="ha">
var ajax_data=[];
  var ctx = bar_chart.getContext("2d");
  var chartData = {};
  var ch = new Chart(ctx, {
    type: 'bar',
    data: chartData,

    options: {
      maintainAspectRatio: false,
      responsive: true,
      legend: {
        position: 'top',
        onClick: function(e, legendItem) {
          var index = legendItem.datasetIndex;
          var name = legendItem.text;
          var ch = this.chart;
          ch.data.datasets.forEach(function(e, i) {
            var meta = ch.getDatasetMeta(i);
            if (e.label == name) {
              meta.hidden = !meta.hidden
            }
          });

          ch.update();
        },
        labels: {
          fontColor: 'black',
        }
      },
      title: {
        display: true,
        text: '',
        fontColor: 'black',
        fontSize: 15

      },
      scales: {
        yAxes: [{
            ticks: {
                suggestedMin: 0
            }
        }]
      },
      animation: {
        duration: 1000,
        onComplete: function(animation) {
          var sourceCanvas = ch.chart.canvas;
          var copyWidth = ch.scales['y-axis-0'].width - 10;
          var copyHeight = ch.scales['y-axis-0'].height + ch.scales['y-axis-0'].top + 10;
          var targetCtx = document.getElementById("myChartAxis").getContext("2d");
          targetCtx.canvas.width = copyWidth;
          targetCtx.drawImage(sourceCanvas, 0, 0, copyWidth, copyHeight, 0, 0, copyWidth, copyHeight);
        }
      },
    }
  }
);
  var cto = order_chart.getContext("2d");
  var orderData = {}
  var orderChart = new Chart(cto, {
    type: 'line',
    data: orderData,
    options: {
      maintainAspectRatio: false,
      responsive: true,
      legend: {
        display: false,
        position: 'top',
        onClick: function(e, legendItem) {
          var index = legendItem.datasetIndex;
          var name = legendItem.text;
          var orderChart = this.chart;
          orderChart.update();
        },
        labels: {
          fontColor: 'black',
        }
      },
      title: {
        display: true,
        text: '',
        fontColor: 'black',
        fontSize: 15

      },
      scales: {
        xAxes: [{
          type: 'linear',
          ticks: {
            stepSize: 1,
          }
        }],
        yAxes: [{
            ticks: {
                suggestedMin: 0.5,

                reverse: true,
                stepSize:1,
            }
        }]
      },
    }
  }
);
</script>

<script>
function plot_bar_graph(data) {
  var offsetHeight = document.getElementById('bar_chart_div').offsetHeight-5; // shadow
  document.getElementById('avg_points').style.height = offsetHeight+'px';
  var bg_id = $(id_name).val();
  var bg_name = $("#id_name option:selected").text();
  var i;
  var len = chartData.datasets.length;
  chartData.labels = [bg_name];
  for (i = 0; i < len; i++) {
    chartData.datasets.pop();
    ch.update(); // can be with number of milliseconds as duration
  }
  $('.chartAreaWrapper2').width($('.chartAreaWrapper').width())
  data.data.forEach(function (a, i) {
          if (i > 10){
            var newwidth = $('.chartAreaWrapper2').width() + 30;
            $('.chartAreaWrapper2').width(newwidth);
          }
<!--      $(bar_chart).css("width", 30*i) &lt;!&ndash;labels.length * 12 + 24;i/10,&ndash;&gt;-->
      chartData.datasets.push({
<!--        barThickness: 'flex',-->
        barPercentage: .9,
        categoryPercentage: 1,
        label: data.labels[i],
        backgroundColor: data.colors[i],
        data: data.data[i],
        borderColor: '#808080',
        borderWidth: 3,
        borderSkipped: '',
      })
  })
//   ch.update();
  ch.options.legend.labels.filter = function(item, chart){
    return data.display[item.datasetIndex];
    }
  ch.options.title.text = bg_name,
  ch.options.tooltips.callbacks.label = function(item, chart){
    var i = item.datasetIndex;
    return ['Player: ' + data.names[i],
            'Position: ' + data.position[i],
            'Points: ' + data.data[i],
            'Number of Players: ' + data.labels[i]
            ];
  }
  ch.update();
}


function plot_order_graph(data, order_points_value) {
  var len = orderData.datasets.length;
    for (i = 0; i < len; i++) {
      orderData.datasets.pop()
      ch.update(); // can be with number of milliseconds as duration
    }
  if (len > 10) {
            var newwidth = document.getElementById('order_chart_wrapper').width + 10 * len;
            document.getElementById('order_chart_wrapper_2').width = newwidth;
  } else {
            var newwidth = document.getElementById('order_chart_wrapper').width;
            document.getElementById('order_chart_wrapper_2').width = newwidth;
          };
  if (order_points_value) {
          order_points_id = 2;
          orderChart.options.scales.yAxes[0].ticks.reverse = true;
        } else {
          order_points_id = 3;
          orderChart.options.scales.yAxes[0].ticks.reverse = false;
        }
        data.order_data.forEach(function(a, i) {
          orderData.datasets.push({
            label: a[0],
            borderColor: a[1],
            backgroundColor: '#ffffff',
            pointBorderColor: a[1],
            pointBackgroundColor: a[1],
            data: a[order_points_id],
            fill: false,
            cubicInterpolationMode: 'monotone',
            borderWidth: 10,
            radius:10,
            spanGaps: false,
          })
        })
        // console.log(orderData);
        orderChart.update();
}

$("#order_points_checkbox").change( function() {
  var order_points_value = $(order_points_checkbox).prop('checked');
  plot_order_graph(ajax_data, order_points_value);
});

$("#id_name, #checkbox").change(function () {
  var url = $("#bar_chart").attr("data-url");
  var bar_chart = $("#bar_chart");
  var order_chart = $("#order_chart");
  var sel = $(id_name);
  var chk = $(checkbox).prop('checked');
  var order_points_value = $(order_points_checkbox).prop('checked');
  var bg_id = $(id_name).val();
  $.ajax({
    url: url,
    data: {
      'chk': chk,
      'id': bg_id,
    },
    success: function (data) {
        ajax_data = data;

        plot_bar_graph(data);
        plot_order_graph(data, order_points_value);

<!--      $("#containerha").width(Math.max(800,chartData.datasets.length * 40)).height('600px');-->
<!--      $("#bar_chart").width(Math.max(800,chartData.datasets.length * 40)).height('600px');-->
      $("#maxws").html(data.maxws);
      $("#minws").html(data.minws);
      $("#avgws").html(data.avgws);
      $("#avgtot").html(data.avgtot);
      $("#maxnws").html(data.maxnws);
      $("#longest_gp").html(data.longest_gp);
      $("#sg").html(data.sg);
      $("#avgg").html(data.avgg);
      $("#avgmp").html(data.avgmp);
      $("#uw").html(data.uw);
      $("#first_gp").html(data.first_gp);
      $("#last_gp").html(data.last_gp);
      $("#nogp").html(data.nogp);
      $("#avgp").html("");
      document.getElementById("bgg_img").src=data.bg_img;
      $("#bgg_rank").html(data.bg_rank);
      $("#bgg_weight").html(data.bg_weight);
      for (j = 0; j < data.pp.length; j++){
          <!--$("#avgp").append('<b>Number of Players: ' + data.pp[j] + '</b>')-->
          $("#avgp").append(data.pp[j])
          for (i = 0; i < data.avgp[j].length; i++){
          $("#avgp").append('<tr><th>' + data.avgp[j][i][0] + '</th>' + '<th>' +  Math.round(data.avgp[j][i][1]*10)/10 + '</th></tr>');
          }
      }
    },
    failure: function(data) {
      alert('Got an error dude');
    }
  });
}).change();
</script>

{% endblock %}
