{% extends "polls/header.html" %}
{% block body %}

<div class='box round shadow'>
  <h2>Highscores</h2>
    <hr>
    <form method="post" id="GameplayForm" load_player_count_url="{% url 'load_player_count' %}"  novalidate>

        {% csrf_token %}
        <table>
            <tr><th>
            <label for="id_name">Name:</label></th><td>
                <select name="name" required id="id_name">
                    <!--<option value="">-&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;</option>-->
                    {% for b in boardgames %}
                        <option value="{{ b.name__name }}">{{ b.name__name }}</option>
                    {% endfor %}
                </select>
            </td></tr>
        </table>
    </form>
</div>
<div class='box round shadow big'>
<div id="container" style="width: 100%;">
    <canvas id="pie_chart" data-url="{% url 'chart_options' %}"></canvas>
</div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
<script>
  var ctx = pie_chart.getContext("2d");
  var chartData = {
    labels: 'h',
    datasets: [{
      label: ['ha'],
      data: [3],
      backgroundColor: '#333333'
    }]
  }
  var ch = new Chart(ctx, {
    type: 'bar',
    data: chartData,

    options: {
      responsive: true,
      legend: {
        position: 'top',
        onClick: function(e, legendItem) {
          var index = legendItem.datasetIndex;
          var name = legendItem.text;
          var ch = this.chart;
          ch.data.datasets.forEach(function(e, i) {
            var meta = ch.getDatasetMeta(i);
            if (e.label == name) {
              meta.hidden = !meta.hidden
            }
          });

          ch.update();
        },
        labels: {
          fontColor: 'black',
        }
      },
      title: {
        display: true,
        text: '',
        fontColor: 'black',
        fontSize: 15

      },
      scales: {
        yAxes: [{
            ticks: {
                suggestedMin: 0
            }
        }]
      },
      animation: {
            duration: 1000
        }
    }
  }
);
</script>
<script>

$("#id_name").change(function () {
  <!--alert($(id_name).val());-->
  <!--console.log('your message');-->
  var url = $("#pie_chart").attr("data-url");
  var pie_chart = $("#pie_chart");
  var sel = $(id_name);
  var bg_name = $(id_name).val();
  <!--var p_count = $(this).val();-->
  $.ajax({
    url: url,
    data: {
      'name': bg_name,       // add the country id to the GET parameters
      <!--'NoP': p_count-->
    },
    success: function (data) {
        var i;
        var len = chartData.datasets.length;
        chartData.labels = [bg_name];
        for (i = 0; i < len; i++) {
          chartData.datasets.pop()
          ch.update(); // can be with number of milliseconds as duration
        }
        data.data.forEach(function (a, i) {
            chartData.datasets.push({
              label: data.labels[i],
              backgroundColor: data.colors[i],
              data: data.data[i],
              borderColor: '#808080',
              borderWidth: 3,
              borderSkipped: '',
            })
            ch.update();
            console.log(ch.data.datasets.backgroundColor)
        })
        ch.options.legend.labels.filter = function(item, chart){
                    return data.display[item.datasetIndex];
                    }
        ch.options.title.text = bg_name,
        ch.options.tooltips.callbacks.label = function(item, chart){
            var i = item.datasetIndex;
            return ['Player: ' + data.names[i],
                    'Points: ' + data.data[i],
                    'Number of Players: ' + data.labels[i]
                    ];
        }
        ch.update();
    },
    failure: function(data) {
      alert('Got an error dude');
    }
  });
});
</script>

{% endblock %}