{% extends "polls/header.html" %}
{% block body %}
<div class='container' id="container">
<div class='box round shadow'>
  <h2>Recently played</h2>
    <hr>
{% if latest_games_list %}
    <ul>
    {% for b in latest_games_list %}
        <li>{{ b.name }}, {{ b.date.date }}</li>
    {% endfor %}
    </ul>
{% else %}
    <p>No polls are available.</p>
{% endif %}
</div>

<!--<div class='box round shadow'>-->
  <!--<h2>Least played</h2>-->
    <!--<hr>-->
<!--{% if leastplayed_games_list %}-->
    <!--<ul>-->
    <!--{% for b in leastplayed_games_list %}-->
        <!--<li>{{ b.name__name }}, {{ b.game_count }}</li>-->
    <!--{% endfor %}-->
    <!--</ul>-->
<!--{% else %}-->
    <!--<p>No polls are available.</p>-->
<!--{% endif %}-->
<!--</div>-->

<div class='box round shadow'>
  <h2>Dusty games</h2>
    <hr>
{% if long_time_no_see_games_list %}
    <ul>
    {% for b in long_time_no_see_games_list %}
        <li>{{ b.name__name }}, {{ b.today.days }} days</li>
    {% endfor %}
    </ul>
{% else %}
    <p>No polls are available.</p>
{% endif %}
</div>

<div class='box round shadow'>
  <h2>Most played</h2>
    <hr>
{% if mostplayed_games_list %}
    <ul>
    {% for b in mostplayed_games_list %}
        <li>{{ b.name__name }}, {{ b.game_count }}</li>
    {% endfor %}
    </ul>
{% else %}
    <p>No polls are available.</p>
{% endif %}
</div>

<div class='box round shadow'>
  <h2>Most time spend</h2>
    <hr>
{% if mosttimeplayed_games_list %}
    <ul>
    {% for b in mosttimeplayed_games_list %}
        <li>{{ b.name__name }}, {{ b.game_time }}</li>
    {% endfor %}
    </ul>
{% else %}
    <p>No polls are available.</p>
{% endif %}
</div>

<div class='box round shadow'>
  <h2>Best companion</h2>
    <hr>
{% if best_companion %}
    <ul>
    {% for bc in best_companion %}
        <li>{{ bc.p_id__name }}, {{ bc.gp_id__time__sum }}, {{ bc.gp_id__time__count }}</li>
    {% endfor %}
    </ul>
{% else %}
    <p>No polls are available.</p>
{% endif %}
</div>
</div>

<div class='box round shadow big'>
  <div id="container_line" style="width: 100%;">
    <canvas id="line-chart"></canvas>
  </div>
</div>

<div class='box round shadow big'>
    <div id="container_pie" style="margin-bottom: 15px; margin-top: 15px;">
        <canvas id="pie-chart"></canvas>
      </div>
</div>


<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
<script>
    var config_line = {
        type: 'line',
        data: {
            labels: {{ week|safe }},
            datasets: [{
                label: 'Total time per week',
                backgroundColor: '#ff0000',
                borderColor: '#ff0000',
                data: {{ totalTime|safe }},
				yAxisID: 'y-axis-1',
                fill: false,
                borderWidth: 5
            }, {
                label: 'Total gameplays per week',
                fill: false,
                backgroundColor: '#0000ff',
                borderColor: '#0000ff',
                data: {{ totalCount|safe }},
				yAxisID: 'y-axis-2',
                borderWidth: 5
            }]
        },
        options: {
            responsive: true,
            title: {
                display: true,
                text: 'Statistics'
            },
            tooltips: {
                mode: 'nearest',
                intersect: false,
                callbacks: {
                    label: function(tooltipItem){
                        console.log(tooltipItem);
                        if (tooltipItem.value > 1000) {
                            return {{ totalTimestr|safe }}[tooltipItem.index];
                        }
                        else {
                            return tooltipItem.value;
                        }
                    }
                }
            },
            <!--hover: {-->
                <!--mode: 'nearest',-->
                <!--intersect: false-->
            <!--},-->
            scales: {
                xAxes: [{
                    display: true,
                    scaleLabel: {
                        display: true,
                        labelString: 'Week'
                    }
                }],
                yAxes: [{
                    type: 'linear',
                    display: true,
                    position: 'right',
                    ticks: {
                        stepSize: 1,
                        beginAtZero: true,
                        max: {{ mg|safe }},
                    },
                    id: 'y-axis-2',
                }, {
                    type: 'linear',
                    position: 'left',
                    ticks: {
                      min: 0,
                      max: {{ mt|safe }},
                      stepSize: 10.8e+6,
                      beginAtZero: true,
                      callback: value => {
                        var date = new Date(value);
                        var hours = date.getHours() - 1;
                        var minutes = "0" + date.getMinutes();
                        var seconds = "0" + date.getSeconds();
                        var formattedTime = hours + ':' + minutes.substr(-2) + ':' + seconds.substr(-2);
                        return formattedTime;
                      },
                    id: 'y-axis-1',
                },
                // grid line settings
                gridLines: {
                    drawOnChartArea: false, // only want the grid lines for one axis to show up
                },
				}],
            }
        }
    };

var config_pie = {
      type: 'pie',
      data: {
        datasets: [{
          data: {{ weekday|safe }},
          backgroundColor: ["#ff0000","#ffa500","#ffff00","#008000","#0000ff","#4b0082","#ee82ee"],
          borderColor: '#a0a0a0',
          borderWidth: 1,
          borderAlign: 'inner',
          hoverBorderWidth: 3,
          label: 'Population',
        }],
        labels: ["Monday","Tuesday","Wednesday","Thursday","Friday","Saturday","Sunday"]
      },
      options: {
        responsive: true,
        legend: {
            position: 'left',
            display: true
        }
      }
    };

    window.onload = function() {
      if (/Android/i.test(navigator.userAgent)){
      <!--alert('ha!');-->
      }
      line_chart = document.getElementById('line-chart').getContext('2d');
      window.myPie = new Chart(line_chart, config_line);
      var pie_chart = document.getElementById('pie-chart').getContext('2d');
      var chart = new Chart(pie_chart, config_pie);
    };
</script>

<!--<script>-->
    <!--var config_pie = {-->
      <!--type: 'pie',-->
      <!--data: {-->
        <!--datasets: [{-->
          <!--data: {{ weekday|safe }},-->
          <!--backgroundColor: ["#ff0000","#ffa500","#ffff00","#008000","#0000ff","#4b0082","#ee82ee"],-->
          <!--borderColor: '#a0a0a0',-->
          <!--borderWidth: 1,-->
          <!--borderAlign: 'inner',-->
          <!--hoverBorderWidth: 3,-->
          <!--label: 'Population',-->
        <!--}],-->
        <!--labels: ["Monday","Tuesday","Wednesday","Thursday","Friday","Saturday","Sunday"]-->
      <!--},-->
      <!--options: {-->
        <!--responsive: true,-->
        <!--legend: {-->
            <!--position: 'left',-->
            <!--display: true-->
        <!--}-->
      <!--}-->
    <!--};-->

    <!--window.onload = function() {-->
      <!--var ctx = document.getElementById('pie-chart').getContext('2d');-->
      <!--var chart = new Chart(ctx, config);-->
    <!--};-->
<!--</script>-->

<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script>
$( function() {
    $( "#container" ).sortable();
    $( "#container" ).disableSelection();
} );
</script>




{% endblock %}