{% extends "polls/header.html" %}
{% block body %}

<div class=''>
<div id="container" style="width: 75%;">
    <canvas id="pie-chart"></canvas>
  </div>
</div>
  <!--<script src="node_modules/chart.js/dist/Chart.min.js"></script>-->
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
<script>
    var config = {
      type: 'doughnut',
      data: {
        datasets: [{
          data: {{ data0|safe }},
          backgroundColor: {{ colors|safe }},
          borderColor: '#a0a0a0',
          borderWidth: 1,
          borderAlign: 'inner',
          hoverBorderWidth: 3,
          label: 'Population',
        },
        {
          data: {{ data1|safe }},
          backgroundColor: {{ colors|safe }},
          borderColor: '#a0a0a0',
          borderWidth: 1,
          borderAlign: 'inner',
          hoverBorderWidth: 3,
          label: 'Population'
        },
        {
          data: {{ data2|safe }},
          backgroundColor: {{ colors|safe }},
          borderColor: '#a0a0a0',
          borderWidth: 1,
          borderAlign: 'inner',
          hoverBorderWidth: 3,
          label: 'Population'
        },
        {
          data: {{ data3|safe }},
          backgroundColor: {{ colors|safe }},
          borderColor: '#a0a0a0',
          borderWidth: 1,
          borderAlign: 'inner',
          hoverBorderWidth: 3,
          label: 'Population'
        },
        {
          data: {{ data4|safe }},
          backgroundColor: {{ colors|safe }},
          borderColor: '#a0a0a0',
          borderWidth: 1,
          borderAlign: 'inner',
          hoverBorderWidth: 3,
          label: 'Population'
        },
        {
          data: {{ data5|safe }},
          backgroundColor: {{ colors|safe }},
          borderColor: '#a0a0a0',
          borderWidth: 1,
          borderAlign: 'inner',
          hoverBorderWidth: 3,
          label: 'Population'
        }],
        labels: {{ labels|safe }}
      },
      options: {
        responsive: true
      }
    };

    window.onload = function() {
      var ctx = document.getElementById('pie-chart').getContext('2d');
      var chart = new Chart(ctx, config);
    };
</script>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
<script>

    <!--$('#pie-chart').click(function (){-->
        <!--console.log('your message');-->
        <!--console.log(g.options.legend);-->
        <!--console.log(g.legend.hidden);-->
        <!--chart.getDatasetMeta(0).data.forEach(function(e,i) {-->
            <!--console.log(e)-->
            <!--console.log(e.hidden)-->
        <!--}-->
        <!--)-->


        <!--chart.data.datasets.forEach(function(e, i) {-->
            <!--var meta = chart.getDatasetMeta(i);-->
            <!--console.log(meta.hidden);-->
          <!--});-->
    <!--}-->
    <!--)-->


  </script>


{% endblock %}
