{% extends "polls/header.html" %}
{% block body %}

<div class='box round shadow'>
      <h2>Library</h2>
        <hr>
        <table style="width:100%">
          <tr>
            <td>Number of owned games:</td>
            <th>{{NoG}}</th>
          </tr>
          <tr>
            <td>Most often category:</td>
            <th>
              {% for moc in MoC %}
              <a class="bubble">{{ moc.0 }} ({{ moc.1}})</a>
              {% empty %}
                Nothing to show.
              {% endfor %}
            </th>
          </tr>
          <tr>
            <td>Most often mechanic:</td>
            <th>
              {% for mom in MoM %}
              <a class="bubble">{{ mom.0 }} ({{ mom.1}})</a>
              {% empty %}
                Nothing to show.
              {% endfor %}
            </th>
          </tr>
          <tr>
            <td>Most often designer:</td>
            <th>
              {% for mod in MoD %}
              <a class="bubble">{{ mod.0 }} ({{ mod.1}})</a>
              {% empty %}
                Nothing to show.
              {% endfor %}
            </th>
          </tr>
          <tr>
            <td>Most often artist:</td>
            <th>Who cares...</th>
          </tr>
        </table>
</div>

<div class='box round shadow'>
      <h2>Last week/month/year stats</h2>
        <hr>
        <table style="width:100%">
          <tr>
            <td>Played games this week:</td>
            <th>{{week_diff.0}} ({{week_diff.0|add:week_diff.1}})</th>
          </tr>
          <tr>
            <td>Played games this month:</td>
            <th>{{month_diff.0}} ({{month_diff.0|add:month_diff.1}})</th>
          </tr>
          <tr>
            <td>Played games this year:</td>
            <th>{{year_diff.0}} ({{year_diff.0|add:year_diff.1}})</th>
          </tr>
          <tr>
            <td>Average score:</td>
            <th><label id="avgtot"></label></th>
          </tr>
          <tr>
            <td>Highest non-winning score:</td>
            <th><label id="maxnws"></label></th>
          </tr>
        </table>
</div>

<div class='box round shadow'>
      <h2>Add game to library</h2>
        <hr>
      <form method="post" id="new_game_in_library" new_game_url="{% url 'new_game_in_library' %}" style="float: left;" novalidate>
        {% csrf_token %}
        <table>
          {{ newgame_form.as_table }}
        </table>
        <div class="tooltip">
            <button type="submit" name="add_game">Add new boardgame</button>
            {% if tooltip_board %}
                <span class="tooltiptext show" id="myTooltip">{{ tooltip_board }}</span>
            {% endif %}
        </div>
      </form>

      <form method="post" id="new_exp_in_library" new_game_url="{% url 'new_exp_in_library' %}" style="float: left;" novalidate>
        {% csrf_token %}
        <table>
          {{ newexp_form.as_table }}
        </table>
        <div class="tooltip">
            <button type="submit" name="add_exp">Add new expansion</button>
            {% if tooltip_exp %}
                <span class="tooltiptext show" id="myTooltip">{{ tooltip_exp }}</span>
            {% endif %}
        </div>
      </form>
</div>

<div class='big box round shadow'>
  <input type="button" id="weights_button" value="Weights">
  <input type="button" id="ranks_button" value="Ranks">
  <input type="button" id="years_button" value="Years">
  <div  id="weights_div">
        <canvas id="Weights"></canvas>
  </div>
  <div id="ranks_div" hidden="hidden">
        <canvas id="Ranks"></canvas>
  </div>
  <div id="years_div" hidden="hidden">
        <canvas id="Years"></canvas>
  </div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>

<script>
$('#weights_button,#ranks_button, #years_button').click(function(){
  var this_div = $(this).val().toLowerCase()+'_div';
  document.getElementById('weights_div').setAttribute('hidden','hidden');
  document.getElementById('ranks_div').setAttribute('hidden','hidden');
  document.getElementById('years_div').setAttribute('hidden','hidden');
  document.getElementById(this_div).removeAttribute('hidden');
});

</script>

<script>
var ctx = document.getElementById("Weights").getContext('2d');
var myChart = new Chart(ctx, {
  type: 'bar',
  data: {
    labels: {{ weight_bins }},
    datasets: [{
      label: 'Weights',
      data: {{ weights }},
      backgroundColor: 'rgba(60, 179, 113, 1)',
      barPercentage: 1.1,
    }]
  },
  options: {
    scales: {
      xAxes: [{
        display: false,
        ticks: {
            max: 4.5,
        }
     }, {
        display: true,
        ticks: {
            autoSkip: false,
            max: 5,
        }
      }],
      yAxes: [{
        ticks: {
          beginAtZero:true
        }
      }]
    }
  }
});

var ctx2 = document.getElementById("Ranks").getContext('2d');
var myChart2 = new Chart(ctx2, {
  type: 'bar',
  data: {
    labels: {{ rank_bins }},
    datasets: [{
      label: 'Ranks',
      data: {{ ranks }},
      backgroundColor: 'rgba(60, 179, 113, 1)',
      barPercentage: 1.1,
    }]
  },
  options: {
    scales: {
      xAxes: [{
        display: false,
        ticks: {
            max: 9.5,
        }
     }, {
        display: true,
        ticks: {
            autoSkip: false,
            max: 10,
        }
      }],
      yAxes: [{
        ticks: {
          beginAtZero:true
        }
      }]
    }
  }
});

var ctx3 = document.getElementById("Years").getContext('2d');
var myChart3 = new Chart(ctx3, {
  type: 'bar',
  data: {
    labels: {{ year_bins }},
    datasets: [{
      label: 'Years',
      data: {{ years }},
      backgroundColor: 'rgba(60, 179, 113, 1)',
      barPercentage: 1.1,
    }]
  },
  options: {
    scales: {
      xAxes: [{
<!--        display: false,-->
        ticks: {
            max: 4.5,
        }
      }],
      yAxes: [{
        ticks: {
          beginAtZero:true
        }
      }]
    }
  }
});
</script>

{% endblock %}
