li a {
    color: black;
}


body {
  background-color: #b5f5dc;
}

h1 {
  text-align: center;
}

h2 {
    padding: 0px;
    margin: 10px;
}

input {
  width: 100%;
}




input:not([type=image]),button[type=submit],input[type=button],select  {
  background-color: b5f5dc;
  border: 20px solid b5f5dc;
  border-radius: 10px;
  padding: 5px 10px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  max-width:200px;
}

/* Navbar container */
.navbar {
  overflow: hidden;
  background-color: #3CB371;
  font-family: Arial;
    width: 100%;
}

/* Links inside the navbar */
.navbar a {
  float: left;
  font-size: 20px;
  color: white;
  text-align: center;
  padding: 5px 5px;
  /*padding: 14px 16px;*/
  text-decoration: none;
}

/* The dropdown container */
.dropdown {
  float: left;
  overflow: hidden;
}

.round {
  border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 10px 10px 10px 10px;
  border: 0px solid #000000;
}

.shadow {
  -webkit-box-shadow: 10px 10px 5px 0px rgba(163,163,163,1);
  -moz-box-shadow: 10px 10px 5px 0px rgba(163,163,163,1);
  box-shadow: 10px 10px 5px 0px rgba(163,163,163,1);
}
@media only screen and (min-width: 600px) {
  .container {
  display: flex;
  }
}

.headertext {
  text-align: center;
  border-spacing:0px;
  padding: 5px 10px 5px 10px;
  font-weight: 600;
  font-family: Arial;
  text-align: right;
  color: white;
}

.box {
  display: inline;
  font-weight: 600;
  font-family: Arial;
  padding: 0px 10px 5px 10px;
  float: left;
  /*height: 180px;*/
  width: 300px;
  margin-bottom: 0px;
  margin-top: 15px;
  clear: both;
  background-color: #B7ED97;/*#90EE90;*/
  margin-right: 20px;
}


.big {
  display: inline;
  font-weight: 600;
  font-family: Arial;
  padding: 0px 10px 5px 10px;
  float: left;
  margin-bottom: 15px;
  margin-top: 15px;
  clear: both;
  background-color: #B7ED97;/*#90EE90;*/
  /*height: 50px;*/
  width: 980px;
  /*flex-grow: 1;*/
}

.rotated {
  transform: rotate(90deg); /* Equal to rotateZ(45deg) */
  /*background-color: pink;*/
}

.input {
  margin: 12px;
  width: 250px;
  height: 90px;
}

label {
  display: inline;
}

@media only screen and (max-width: 1000px) {
  body {
    /*background-color: lightblue;*/
  }
}
@media only screen and (max-width: 1000px) {
  .box {
    width: 95%;
  }
  .big {
    width: 95%;
  }
  .navbar a{
    float: left;
    font-size: 30px;
    text-align: center;
    padding: 5px 5px;
    text-decoration: none;
  }
}

input[type=image]{
  width: 45px;
  height: 45px;
}

/*for scale on graph*/

.chartWrapper {
    position: relative;

}

.chartWrapper > canvas {
    position: absolute;
    left: 0;
    top: 0;
    pointer-events:none;
}
.chartAreaWrapper {
  overflow-x: scroll;
    position: relative;
    width: 100%;
}

.chartAreaWrapper2 {
    position: relative;
    height: 600px;
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    background-color: transparent
  }

::-webkit-scrollbar-thumb {
    background: rgb(136, 136, 136);
    border-radius: 10px;
  }

::-webkit-scrollbar-thumb:hover {
    background: rgb(100, 100, 100);
    border-radius: 10px;
  }

::-webkit-scrollbar-thumb:active {
    background: rgb(68, 68, 68);
    border-radius: 10px;
  }
