li a {
    color: black;
}


body {
  background-color: #b5f5dc;
}

h1 {
  text-align: center;
}

h2 {
    padding: 0px;
    margin: 10px;
}

input {
  width: 100%;
}

input, button[type=submit],input[type=button],select  {
  background-color: b5f5dc;
  border: 20px solid b5f5dc;
  border-radius: 10px;
  padding: 5px 10px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}

/* Navbar container */
.navbar {
  overflow: hidden;
  background-color: #3CB371;
  font-family: Arial;
    width: 100%;
}

/* Links inside the navbar */
.navbar a {
  float: left;
  font-size: 20px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* The dropdown container */
.dropdown {
  float: left;
  overflow: hidden;
}

.round {
  border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 10px 10px 10px 10px;
  border: 0px solid #000000;
}

.shadow {
  -webkit-box-shadow: 10px 10px 5px 0px rgba(163,163,163,1);
  -moz-box-shadow: 10px 10px 5px 0px rgba(163,163,163,1);
  box-shadow: 10px 10px 5px 0px rgba(163,163,163,1);
}
.container {
  display: flex;
}

.box {
  display: inline;
  font-weight: 600;
  font-family: Arial;
  padding: 0px 10px;
  float: left;
  /*height: 180px;*/
  width: 300px;
  margin-bottom: 15px;
  margin-top: 15px;
  clear: both;
  background-color: #B7ED97;/*#90EE90;*/
  margin-right: 20px;
}

.big {
  display: inline;
  font-weight: 600;
  font-family: Arial;
  padding: 0px 10px;
  float: left;
  margin-bottom: 15px;
  margin-top: 15px;
  clear: both;
  background-color: #B7ED97;/*#90EE90;*/
  /*height: 50px;*/
  width: 980px;
  /*flex-grow: 1;*/
}


.input {
  margin: 12px;
  width: 250px;
  height: 90px;
}

label {
  display: inline;
}